.App {
  text-align: center;
}

#title-box {
  margin: 20px;
  color: white;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  z-index: 30;
}

#top-left-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

#divinfo {
  position: relative;
  color: black;
  background-color: white;
  border-radius: 1px;
  /* font-size: 25px; */
  margin: 20px;
  padding: 20px;
  width: 200px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
